* {
    margin: 0;
    padding: 0;
}
body {
    background: #ffffff;
}

#hexGrid {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: 1% auto;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  list-style-type: none;
  position: relative;
  z-index: 300;
}

.hex {
  position: relative;
  visibility:hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.hex::after{
  content:'';
  display:block;
  padding-bottom: 86.602%;  /* =  100 / tan(60) * 1.5 */
}
.hexIn{
  position: absolute;
  width:96%;
  padding-bottom: 110.851%; /* =  width / sin(60) */
  margin:0 2%;
  overflow: hidden;
  visibility: hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
  -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
      -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
          transform: rotate3d(0,0,1,-60deg) skewY(30deg);
}
.hexIn * {
  position: absolute;
  visibility: visible;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.hexLink {
    display:block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
        -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
            transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}


.hexLink::before, .hexLink::after{
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 1;
}
.hexLink::before{
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.5s;
  z-index: 1;
}
.hexLink::after{
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.5s;
  opacity: 0;
}
.hexLink:hover::before{
  transition: opacity 0.5s;
  opacity: 0;
}
.hexLink:hover::after{
  transition: opacity 0.5s;
  opacity: 1;
}

#homebutton::before{
  background-image: url("/images/hexagon_images/home_before.png");
}
#homebutton::after {
  background-image: url("/images/hexagon_images/home_after.png");
}

#researchbutton::before{
  background-image: url("/images/hexagon_images/research_before.png");
}
#researchbutton::after {
  background-image: url("/images/hexagon_images/research_after.png");
}

#blogbutton::before{
  background-image: url("/images/hexagon_images/blog_before.png");
}
#blogbutton::after {
  background-image: url("/images/hexagon_images/blog_after.png");
}

#mastodonbutton::before{
  background-image: url("/images/hexagon_images/mastodon_before.png");
}
#mastodonbutton::after{
  background-image: url("/images/hexagon_images/mastodon_after.png");
}

#githubbutton::before{
  background-image: url("/images/hexagon_images/github_before.png");
}
#githubbutton::after{
  background-image: url("/images/hexagon_images/github_after.png");
}

#emailbutton::before{
  background-image: url("/images/hexagon_images/email_before.png");
}
#emailbutton::after {
  background-image: url("/images/hexagon_images/email_after.png");
}

#cvbutton::before{
  background-image: url("/images/hexagon_images/cv_before.png");
}
#cvbutton::after {
  background-image: url("/images/hexagon_images/cv_after.png");
}

#talksbutton::before{
  background-image: url("/images/hexagon_images/talks_before.png");
}
#talksbutton::after {
  background-image: url("/images/hexagon_images/talks_after.png");
}

#tutorialbutton::before{
  background-image: url("/images/hexagon_images/tutorials_before.png");
}
#tutorialbutton::after {
  background-image: url("/images/hexagon_images/tutorials_after.png");
}

#linkedinbutton::before{
  background-image: url("/images/hexagon_images/linkedin_before.png");
}
#linkedinbutton::after{
  background-image: url("/images/hexagon_images/linkedin_after.png");
}

#projectsbutton::before{
  background-image: url("/images/hexagon_images/projects_before.png");
}
#projectsbutton::after {
  background-image: url("/images/hexagon_images/projects_after.png");
}

#otherbutton::before{
  background-image: url("/images/hexagon_images/other_before.png");
}
#otherbutton::after {
  background-image: url("/images/hexagon_images/other_after.png");
}

#musicbutton::before{
  background-image: url("/images/hexagon_images/music_before.png");
}
#musicbutton::after {
  background-image: url("/images/hexagon_images/music_after.png");
}

/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
@media (min-width:1201px) { /* <- 5-4  hexagons per row */
  #hexGrid{
    padding-bottom: 4.4%
  }
  .hex {
    width: 20%; /* = 100 / 5 */
  }
  .hex:nth-child(6){ /* first hexagon of even rows */
    margin-left:10%;  /* = width of .hex / 2  to indent even rows */
  }
  .hex:nth-child(10){
    margin-left:20%;
  }
}

@media (max-width: 1200px) and (min-width:1101px) { /* <- 4-3  hexagons per row */
  #hexGrid{
    padding-bottom: 5.5%
  }
  .hex {
    width: 22%; /* = 100 / 4 */
  }
  .hex:nth-child(9n+5){ /* first hexagon of even rows */
    margin-left:11%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 1100px) and (min-width:601px) { /* <- 3-2  hexagons per row */
  #hexGrid{
    padding-bottom: 7.4%
  }
  .hex {
    width: 28%; /* = 100 / 3 */
  }
  .hex:nth-child(6n-2){ /* first hexagon of even rows */
    margin-left:14%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 600px) { /* <- 2-1  hexagons per row */
  #hexGrid{
    padding-bottom: 11.2%
  }
  .hex {
    width: 37%; /* = 100 / 2 */
  }
  .hex:nth-child(4n-1){ /* first hexagon of even rows */
    margin-left:18.5%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 400px) {
    #hexGrid {
        font-size: 13px;
    }
}
