*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blur,
.main,
.particles{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.blur{
    background-color: #FFFFFF; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    transform: scale(1.2);
/*     animation: bg 8s linear infinite alternate; */

}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;
}
.title{
    font-size: 17px;
    letter-spacing: 5px;
    padding: 10px 15px;
    text-shadow: 1px 1px 15px black;
    color: black;
    top: 0;
    position:relative;
    z-index: 300;
    font-family: american typewriter, serif;
}

.particles{
    position: absolute;
    z-index: 200;
    overflow: hidden;
}

.particle{
    border-radius: 50%;
    filter: blur(3px);
    position: absolute;
}
@keyframes bg {
    0%{ transform: scale(1.2);}
    100%{ transform: scale(1.3);}
}
@keyframes move {
    0%{
        transform: translateX(0);
        opacity: 0;
    }
    10% ,90%{
        opacity: 1;
    }
    100%{
        transform: translateX(45vw);
        opacity: 0;
    }
}
